.sidebar {
    flex: 0.2;
    background-color: #0b0b5a;
    color: white;
    min-height: 100vh;
    height: auto;
    flex-shrink: 0;
}

.sidebarIcon{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebarTopContent{
    font-size: 20px;
}

.sidebarOptionblock{
    margin-top: 30px;
}

.sidebarOption{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 21px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.selectedOption{
    background-color: #462ac2;
}